* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #000;
    color: #fff;
}

canvas {
    width: 720px;
    height: 720px;
    border: 1px solid #fff;
    margin: 0 auto;
}

#debug-panel {
    height: 4em;
    overflow-y: scroll;
    background-color: rgb(50, 50, 49);
    margin: 0 auto;
    padding: 1em;
}

.debugger-line{
    color: rgb(201, 201, 243);
}

#panel{
    font-size: 1.2em;
    color: #fff;
    padding: 1em;
    width: 720px;
    margin: 0 auto;
}

select{
    padding: 1em;
    font-size: 1em;
}
input{
    padding: 1em;
    font-size: 1em;
}